.content{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
}

.content .par{
    padding-left: 15px;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: white;
    /* margin-top: 120px; */
    padding-top: 20px;
    font-size: 22px;
    font-weight: bold;
}

.content h1{
    font-size: 80px;
    padding-left: 10px;
    margin-top: 9%;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke:1px #fff;
    background: url(./back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    margin-top: -1px;
    padding-top: 170px;
    /* background: -webkit-linear-gradient(#000000, #00bfa6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.content .cn{
    width: 160px;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    background: #00bfa6;
    transition: .4s ease;
    color: black;
    font-weight: bold;
}

.cn:hover{
    background-color: gray;
}

.foram{
    width: 320px;
    height: 470px;
    background: linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0,0.8)50%);
    margin-top: -340px;
    margin-left: 1240px;
    border-radius: 10px;
    padding: 25px;
}

.foram h2{
    width: 220px;
    text-align: center;
    font-size: 22px;
    color: #00bfa6;
    background-color: white;
    border-radius: 10px;
    margin-left: 24px;
    padding: 8px;

}

.foram input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #00bfa6;
    border-top: none;
    border-right: none;
    border-color: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-left: 16px;
}

.foram input:focus{
    outline: none;
}

::placeholder{
    color: white;
}

.bhutton{
    width: 240px;
    height: 40px;
    background: #00bfa6;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin-left: 15px;
    font-weight: bold;
}

.bhutton:hover{
    background: white;
    color: #00bfa6;
}

.bhutton a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.foram .lenk{
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.foram .lenk a{
    text-decoration: none;
    color: #00bfa6;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #00bfa6;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: -60px;
    color: white;
    margin-left: 8px;
  }

  .fa:hover {
    opacity: 0.7;
    color: #00bfa6;
  }

  