.main-footer {
    color: white;
    background-color: black;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 45%;
    
  }

  .ion {
    color: white;
    margin-left: 1154px;
    margin-top: -120px;
    
  }
  
