.form-control{
    padding:.375rem 1.6rem;
}

.search-section {
    padding-bottom: 32px;
    width: 100%;
}

.white {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 15px 0 rgb(47 48 51 / 20%);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top:15px ;
    /* height: 100px; */

}


label {
    display: inline-block;
    margin-bottom: .5rem;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

/* a.input-img {
    position: absolute;
    top: 156px;
} */


img.service-image {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-top: -20px;
}

img {
    max-width: 100%;
    margin-left: 5px;
}
img {
    vertical-align: middle;
    border-style: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn {
    font-weight: bold;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    vertical-align: middle;
    touch-action: manipulation;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #9b88b8;
}
.btn {
    margin-right: 0.375em;
    transition: all 0.4s ease;
}

.arrow{
    height: 10px;
    width: 10px;
    margin-left: 275px;
    margin-top: -33px;
}

.arro{
    height: 10px;
    width: 10px;
    margin-left: 275px;
    margin-top: -33px;
}

.loc{
    height: 10px;
    width: 10px; 
    margin-top: -33px;
    margin-left: 3px;
}

.search{
    height: 25px;
    width: 25px; 
    margin-top: -31px;
    margin-left: 94px; 
}

.home-header{
    margin-top: 55px;
    height: 285px;
}

