.rate{
    margin-left: 335px;
    margin-top: -40px;
    font-size: 14px;
}

.review-img{
    margin-left: 320px;
    margin-top: -142px;
}

.rev{
    margin-left: -1px;
}

.car{
    height: 350px;
}

.pesi{
    margin-top: 410px;
}

.directre{
    margin-left: 154px;
    margin-top: -25px;
    font-size: 15px;
}

.directre img{
    margin-left: -0.5px;
    margin-bottom: 1.5px;
}